BasedOnStyle: Microsoft
Language: Cpp
Standard: c++23

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortLambdasOnASingleLine: Inline

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLine

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<dss/'
    Priority: 2
  - Regex: '^<Q'
    Priority: 3
  - Regex: '^<'
    Priority: 4
  - Regex: '^"'
    Priority: 1

SortIncludes: CaseSensitive
SortUsingDeclarations: true

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInContainerLiterals: false

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
SeparateDefinitionBlocks: Always

InsertBraces: true
InsertNewlineAtEOF: true
